body.light {
    background-color: rgb(243, 243, 243);
    color: #181818;
}
body.light li a{
    color: #000000;
}
body.dark li a{
    color: #ffffff;
}
body.dark input::placeholder{
    color: #fff;
}
body.light input::placeholder{
    color: #070707;
}
body.dark input{
    color: #fff;
}
body.light input{
color: #000000;
}
body.dark {
    background-color: #1a1a1a;
    color: #fff;
}

.header-logo {
    width: 90px;
}

* {
    margin: 0;
    padding: 0;
}

.hero {
    display: flex;
    background: #64646462;
    height: 50%;
    width: 100%;
    padding: 2%;
    border-radius: 20px;
}

#landing-page-layout {
    height: 150vh;
    width: 90%;
    margin: auto;

}

.main-txt h1 {
    font-size: 4vw;
}

.main-txt {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 2%;
}

.hero-img {
    position: relative;
    width: 50%;
}
#theme-icon{
    font-size: 22px;
}
.landing-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 10px 0;
}
.landing-header nav{
    display: flex;
    align-items: center;
    gap: 10px;
}
.third {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#cards {
    margin: 20px 0;
    background: #64646462;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    animation: movecards 0.5s ease-in forwards;
}
#cards:hover{
    transform:scale(1.1) ;
}
#icons-hompage {
    font-size: 4vw;

}

@media (max-width:800px) {
    .main-txt h1 {
        font-size: 8vw;
    }

    .hero {
        height: 35%;
        flex-wrap: wrap;
    }

    .hero-img {
        position: relative;
        max-width: 100%;
    }
}

@media (max-width:600px) {
    .main-txt {
        width: 80%;
    }
}