.auth-layout {
  width: 100%;
}

.auth-container {
  margin: 13% auto;
  background: #64646462;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
}
#logout-btn-x{
  background: red;
}
#logout-btn-x:hover{
  background-color: rgb(201, 7, 7);
}
.logout{
  width: 50%;
  margin: 10% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background: #64646462;
  padding: 10px;
  border-radius: 10px;
}
.auth-container input{
 color: black;
  width: 98%;
  font-weight: bold;
  padding: 9px 5px;
}
.l{
  color: #7715f8;
  margin: auto;
}
.span{
  text-align: center;
}

.form-group{
  width: 80%;
}
.btn{
  width: 100%;
  padding: 5px;
}

@media (max-width: 1558px) {
  .auth-container {
    width: 30%;
  }
}
@media (max-width: 600px) {
  .auth-container {
    width: 50%;
  }
}
@media (max-width: 300px) {
  .auth-container {
    width: 70%;
  }
}